{% extends 'blog-base.html' %}

{% block title %}postmarketOS Blog{% endblock %}

{% block body %}
<section class="blog">
  <h2 class="f3 tc tl-ns">Blog Posts<a href="{{ url_for('atom') }}"><img src="{{ url_for('static', filename='img/rss.svg') }}" class="h1 pl2"></a></h2>
  <div class="fl mw9 center">
      {% for post in posts %}
      <div class="fl w-100">
          <div class="fl w-30 gray tr pr2 pr4-ns pa2">
              <div class="f4 f3-ns">{{ post.date.strftime('%B %d, %Y') }}</div>
              <div class="f5 f4-ns">({{ post.reading_time }} min)</div>
          </div>
          <div class="fl w-70 pa2 pl4">
              <a class="f4 f3-ns black link dim" href="{{ post.url }}">{{ post.title }}</a>
          </div>
      </div>
      {% endfor %}
  </div>
</section>
{% endblock %}
