<header class="bg-white">
    <div class="cf mw8 pv3 center">
        <div class="fl w-100 w-50-ns pl3-ns">
            <a class="tc tl-ns link" href="{{ url_for('home') }}">
                <div>
                    <img class="v-mid" src="{{ url_for('logo_svg') }}">
                    <span class="dib v-mid ph1 black f2-l f3">postmarketOS</span>
                </div>
            </a>
        </div>
        <div class="fl w-100 w-50-ns pr3-ns">
            <ul class="tc tr-ns f4 f3-ns pl0">
                <li class="dib"><a class="link dim pr3" href="{{ url_for('home') }}">Home</a></li>
                <li class="dib"><a class="link dim pr3" href="{{ url_for('blog') }}">Blog</a></li>
                <li class="dib"><a class="link dim pr3" href="{{ url_for('static_page', page='faq') }}">FAQ</a></li>
                <li class="dib"><a class="link dim pr3" href="https://wiki.postmarketos.org">Wiki</a></li>
                <li class="dib"><a class="link dim pr3" href="https://github.com/postmarketOS">GitHub</a></li>
            </ul>
        </div>
    </div>
</header>
